AWS_BEARER_TOKEN_BEDROCK=your-bedrock-api-key-here
AWS_REGION=ap-southeast-2
JWT_SECRET_KEY=your-jwt-secret-here
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
AWS_ACCESS_KEY_ID=your-aws-access-key-id-here
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key-here
KNOWLEDGE_BASE_ID=your-knowledge-base-id-here
KNOWLEDGE_BASE_MODEL_ARN=arn:aws:bedrock:ap-southeast-2::foundation-model/amazon.nova-lite-v1:0
